<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CertVerify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>CertVerify</h1>
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>CN</th>
                    <th>Data de Validade</th>
                    <th>Dias para Vencimento</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                {% if result.days_remaining < 30 %}
                <tr class="error">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ result.url }}</td>
                    <td>{{ result.cn if result.cn else 'Erro' }}</td>
                    <td>{{ result.validity.strftime('%d/%m/%Y') if result.validity else 'Erro' }}</td>
                    <td>{{ result.days_remaining if result.days_remaining else 'Erro' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
